@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Estilos globais */
* {
  margin: 0; /* Remove margens */
  padding: 0; /* Remove preenchimentos */
  box-sizing: border-box; /* Inclui bordas e preenchimentos no tamanho total do elemento */
  font-family: "Poppins", sans-serif; /* Define a fonte como Poppins */
}

body {
  display: flex; /* Flexbox para layout */
  min-height: 100vh; /* Mínima altura da tela */
  background-color: #e3e9f7; /* Cor de fundo da página */
}

#sidebar {
  display: flex; /* Flexbox para o sidebar */
  flex-direction: column; /* Organiza os itens em coluna */
  justify-content: space-between; /* Espaçamento entre os elementos */
  background-color: #ffffff; /* Cor de fundo do sidebar */
  height: 100vh; /* Altura total da tela */
  border-radius: 0px 18px 18px 0px; /* Bordas arredondadas */
  position: relative; /* Posição relativa para posicionamento de filhos */
  transition: all 0.5s; /* Transição suave para alterações */
  min-width: 82px; /* Largura mínima do sidebar */
  z-index: 2; /* Camada acima de outros elementos */
}

#sidebar_content {
  padding: 12px; /* Preenchimento interno do conteúdo do sidebar */
}

#user {
  display: flex; /* Flexbox para o bloco do usuário */
  align-items: center; /* Alinha itens ao centro verticalmente */
  gap: 8px; /* Espaço entre os itens */
  margin-bottom: 24px; /* Margem inferior */
}

#user_avatar {
  width: 50px; /* Largura do avatar */
  height: 50px; /* Altura do avatar */
  object-fit: cover; /* Cobre o espaço do elemento */
  border-radius: 20px; /* Bordas arredondadas do avatar */
}

#user_infos {
  display: flex; /* Flexbox para informações do usuário */
  flex-direction: column; /* Organiza em coluna */
}

#user_infos span:last-child {
  color: #6b6b6b; /* Cor do texto do último span */
  font-size: 12px; /* Tamanho da fonte */
}

#side_items {
  display: flex; /* Flexbox para itens do sidebar */
  flex-direction: column; /* Organiza em coluna */
  gap: 8px; /* Espaço entre os itens */
  list-style: none; /* Remove a lista padrão */
}

.side-item {
  border-radius: 8px; /* Bordas arredondadas */
  padding: 14px; /* Preenchimento interno */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.side-item.active {
  background-color: #4f46e5; /* Cor de fundo para o item ativo */
}

.side-item:hover:not(.active),
#logout_btn:hover {
  background-color: #e3e9f7; /* Cor de fundo ao passar o mouse */
}

.side-item a {
  text-decoration: none; /* Remove sublinhado dos links */
  display: flex; /* Flexbox para links */
  align-items: center; /* Alinha itens ao centro verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  color: #0a0a0a; /* Cor do texto dos links */
}

.side-item.active a {
  color: #e3e9f7; /* Cor do texto do link ativo */
}

.side-item a i {
  display: flex; /* Flexbox para ícones */
  align-items: center; /* Alinha itens ao centro verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  width: 20px; /* Largura do ícone */
  height: 20px; /* Altura do ícone */
}

#logout {
  border-top: 1px solid #e3e9f7; /* Borda superior do logout */
  padding: 12px; /* Preenchimento interno */
}
    
#logout_btn {
  border: none; /* Remove bordas */
  padding: 12px; /* Preenchimento interno */
  font-size: 14px; /* Tamanho da fonte */
  display: flex; /* Flexbox para o botão de logout */
  gap: 20px; /* Espaço entre os itens */
  align-items: center; /* Alinha itens ao centro verticalmente */
  border-radius: 8px; /* Bordas arredondadas */
  text-align: start; /* Alinhamento do texto à esquerda */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  background-color: transparent; /* Fundo transparente */
}

#open_btn {
  position: absolute; /* Posição absoluta para o botão de abrir o sidebar */
  top: 30px; /* Distância do topo */
  right: -10px; /* Distância da direita */
  background-color: #4f46e5; /* Cor de fundo do botão */
  color: #e3e9f7; /* Cor do texto do botão */
  border-radius: 100%; /* Bordas arredondadas */
  width: 20px; /* Largura do botão */
  height: 20px; /* Altura do botão */
  border: none; /* Remove bordas */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

#open_btn_icon {
  transition: transform 0.3s ease; /* Transição suave para a rotação do ícone */
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg); /* Rotação do ícone ao abrir o sidebar */
}

.item-description {
  width: 0px; /* Inicialmente, a largura é 0 para esconder texto */
  overflow: hidden; /* Esconde conteúdo que transborda */
  white-space: nowrap; /* Impede quebra de linha */
  text-overflow: ellipsis; /* Exibe reticências se o texto transbordar */
  font-size: 14px; /* Tamanho da fonte */
  transition: width 0.6s; /* Transição suave para largura */
  height: 0px; /* Altura inicial é 0 */
}

#sidebar.open-sidebar {
  min-width: 20%; /* Largura mínima quando o sidebar está aberto */
}

#sidebar.open-sidebar .item-description {
  width: 100%; /* Largura do texto quando aberto */
  height: auto; /* Altura automática */
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start; /* Alinha o conteúdo do link à esquerda */
  gap: 14px; /* Espaço entre ícone e texto */
}

.imagem-entrar img {
  width: 25px; /* Largura das imagens de entrar */
  height: 25px; /* Altura das imagens de entrar */
  vertical-align: middle; /* Alinha verticalmente ao meio */
  margin-right: 5px; /* Margem à direita */
}

.imagem-entrar li img:hover {
  stroke: rgb(132, 14, 201); /* Efeito ao passar o mouse nas imagens */
}

/* Estilos do header */
header {
  display: flex; /* Flexbox para o cabeçalho */
  align-items: start; /* Alinha itens ao centro verticalmente */
  margin-top: 30px;
  margin-right: 30px;

}

h1 {
  font-weight: 200; /* Peso da fonte */
  font-family: "Poppins", sans-serif; /* Fonte do título */
}

/* #title {
  flex-direction: column;
  line-height: 46px;
  width: 76px;
  border: 3px solid;
  padding: 3px;
} */

#title:hover {
  color: rgb(132, 14, 201);
  transition: 0.3s all;
}

a {
  color: black;
  text-decoration: none;
}

/* Estilos do conteúdo principal */
ain {
  align-items: center; /* Alinha itens ao centro verticalmente */
  width: 100%; /* Largura total */
  display: flex; /* Flexbox para o conteúdo principal */
  flex-direction: column; /* Organiza em coluna */
  height: 100vh; /* Altura total da tela */
}

ain {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas de largura igual */
  grid-template-rows: repeat(4, 1fr);    /* 4 linhas de altura igual */
  gap: 10px;
}

Car1 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column: 3;
  grid-column-end: 4;
}

content {
  display: flex; /* Flexbox para o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Alinha itens ao centro verticalmente */
  flex-direction: column; /* Organiza em coluna */
  gap: 20px; /* Espaço entre os itens */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
}

Destaques {
  display: flex; /* Flexbox para destaques */
  width: 100%; /* Largura total */
  justify-content: space-between; /* Espaçamento entre os destaques */
}

.content

.user-name-header {
  width: 100%; /* Largura total */
  display: flex; /* Flexbox para cabeçalho do usuário */
  justify-content: space-between; /* Espaçamento entre os elementos */
}

.geral {
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
}

#esquerda {
  align-items: center; /* Alinha itens ao centro verticalmente */
}

/* Aplica estilo a todas as divs dentro dos destaques */
.Destaques > div {
  width: 100%; /* Largura total para cada div de destaque */
}







header.main1 a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}

main {
  margin-left: 60px;
}

main {
  margin-top: 240px;
  margin-left: 120px;
  padding: 30px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content p {
  font-size: 18px;
  color: #555;
}

.Destaques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Destaques div {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Destaques div:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.Destaques p {
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

b#user-name-nav {
  font-size: 25px;
}

b#user-email-nav {
  font-size: 15px;
}