<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/loin.css" />
    <script src="../script/login.js"></script>
  </head>
  <body>
    <header>
      <div id="title">
        <h1>Car</h1>
        <h1>One</h1>
      </div>

      <div>
        <ul>
          <a href="../index.html">
            <li>Início</li>
          </a>
          <a href="#">
            <li>Serviços</li>
          </a>
          <a href="#">
            <li>Sobre</li>
          </a>
          <a href="#">
            <li>Contato</li>
          </a>
          <a href="./login.html" id="login-btn">
            <li>Já possuo uma conta</li>
          </a>
        </ul>
      </div>
    </header>

    <main>
      <aside>
        <h2>Crie sua conta em <span>minutos</span></h2>
        <h2>E descubra uma nova</h2>
        <h2>maneira de se mover pela cidade!</h2>

        <form>
          <label for="email">Email:<br /></label>
          <input type="email" id="email" name="email" />
          <br />
          <label for="password">Senha:<br /></label>
          <input type="password" id="password" name="password" />
          <br />
        </form>
      </aside>

      <article>
        <img src="./img/navigation-animate.svg" alt="Vida na cidade" />
      </article>
    </main>
  </body>
</html>
